{% extends 'Template.html.twig' %}

{% block title %}
    Todo list
{% endblock %}

{% block pageTitle %}
    La todo liste
{% endblock %}

{% block body %}
    
        <h1 class="H1 fw-bold text-capitalize d-flex justify-content-center my-3">la todo list</h1>
        <ul class="list-group">
            {% for name, content in app.session.get('todos') %}
            <li class='list-group-item'>
                {{name}} : {{content}}
            </li>
            {% endfor %}
        </ul>
{% endblock %}
